.header_container{
    background-color: var(--color-white);
    align-items: center;
}
.hamburger_btn{
    cursor: pointer;
}
.logo_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:var(--color-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-work);
}
.expanded_header{
    position: absolute;
    z-index: 1;
    background-color:var(--color-white);
}
.list_item {
  font-family: var(--font-work);
  font-size: var(--side-heading);
  font-weight: var(--font-weight400);
  color:var(--color-black);
  text-align: center;
  } 
.active_list_item{
    composes:list_item;
    border-bottom: 2px solid var(--color-black);
}
.contact_me_btn{
    font-family: var(--font-work);
    font-size: var(--sub-heading);
    font-weight: var(--font-weight400);
    color: var(--color-blue);
    text-align: center;
    padding: 10px;
    max-width: 120px;
    align-self: center;
}

.icon{
    color:var(--color-black);
}
.contact_me_btn:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

@media screen and (min-width:1024px) {
    .flex{
        display: flex;
    }
    .list_item{
        font-size: var(--main-heading);
    }
}
