.header_container{
    background-color: var(--color-white);
  
}



.hamburger_btn{
    cursor: pointer;
}
.logo_icon{
    padding: 0.3rem;
    border-radius: 50%;
    background-color:var(--color-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-work);
}
.expanded_header{
    position: absolute;
    z-index: 1;
    background-color:var(--color-white);
}
.list_item {
  font-family: var(--font-work);
  font-size: var(--side-heading);
  font-weight: var(--font-weight400);
  color:var(--color-black);
  text-align: center;
  } 
.active_list_item{
    composes:list_item;
    border-bottom: 2px solid var(--color-black);
}

/* From Uiverse.io by arieshiphop */ 


.resume_btn {
   
    padding: 0.3em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    font-family: var(--font-work);
    font-size: var(--sub-heading);
    font-weight: var(--font-weight400);
    color:#fff;
   }
   
   .resume_btn:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   .resume_btn:active {
    transform: translate(0em, 0.2em);
   }

.icon{
    color:var(--color-black);
}


@media screen and (min-width:1024px) {
    .flex{
        display: flex;
    }
    .list_item{
        font-size: var(--main-heading);
    }
}
