@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import "tailwindcss";

/* Define your theme variables */
@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: blue;
    --modal-bg:#ffffff;
  }
  [data-theme='dark'] {
    --color-white: #000000;
    --color-black:#ffffff;
    --color-blue: green;
    --modal-bg:#353935;
  }
}

button{
    width: auto;
    text-wrap: nowrap;
    cursor: pointer;
}

body{
    padding: 0px 5vw;
    background-color: var(--color-white);
}

:root{
    --font-work:"Work Sans";
    --font-comforta:"Comfortaa";
    --side-heading:30px;
    --side-description:22px;
    --main-heading:18px;
    --sub-heading:16px;
    --list-item:14px;
    --main-para:12px;
    --sub-para:10px;
    --description:8px;
    --font-weight300:300;
    --font-weight400:400;
    --font-weight500:500;
    --font-weight600:600;
    --color-gray:#6D6976;
}

@media screen and (min-width:1024px) {
    :root{
        --side-heading:30px;
        --main-heading:20px;
        --sub-heading:16px;
        --main-para:14px;
        --sub-para:12px;
        --description:10px;
    }
}